.thank-u-for {
  height: 292px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-109xl);
  line-height: 120.31%;
  display: inline-block;
  font-style: italic;
  font-weight: 500;
  font-family: var(--font-inter);
  color: #4e0d0d;
  text-align: center;
}
.macbook-pro-16-9 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 469px 0 760px;
  box-sizing: border-box;
}
